<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Event Calendar</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js">

  </script>
   <style>

       .quote {
        margin: 40px;
        margin-left: 800px;
        }

        .QuoteModal {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        transition: opacity 300ms;
        visibility: hidden;
        opacity: 0;
        }

        .QuoteModal:target {
        visibility: visible;
        opacity: 1;
        }

        .popup_modal {
        position: relative;
        margin: 70px auto;
        padding: 20px;
        background: #eee;
        box-sizing: border-box;
        box-shadow: 10px 10px 10px 10px #eee;
        width: 500px;
        }

        .popup_modal .quoteclose {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 20px;
        color: black;
        }
   </style>
</head>
<body>

  <h1>Event Calendar</h1>
 <div>
    <a class="quote btn btn-lg btn-primary" href="#quote_modal" title="">Create Task</a>
  </div>

    <div id="quote_modal" class="QuoteModal">
        <div class="popup_modal">
        <div>
            <a href="#close" title="Close" class="quoteclose">X</a>
            <h3 class="text-center">Add a Task</h3>
        </div>
        <div>
             <!-- Create Event Form -->
            <h2>Create Event</h2>
            <form id="create-event-form">
                <div class="form-group">  
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" name="title" required>
                    <br>
                    <label for="description">Description:</label>
                    <textarea  class="form-control" name="description" required></textarea>
                    <br>
                    <label for="start_date">Start Date:</label>
                    <input type="date" class="form-control" name="start_date" required>
                    <br>
                    <label for="end_date">End Date:</label>
                    <input type="date" class="form-control" name="end_date" required>
                    <br>
                    <button type="submit" class="btn btn-warning">Create Task</button>
                </div>
            </form>
        </div>
        </div>
    </div>

    <!--  Event Calender -->
    <div id="calendar"></div>
    


</body>
<script>

    
    $(document).ready(function() {
        $.ajax({
            url: 'http://127.0.0.1:8000/api/events',
            type: 'GET',
            success: function(events) {
                console.log(events);
                $('#calendar').fullCalendar({
                    events: events.events.map(function(event) {
                        return {
                            title: event.title,
                            description: event.description,
                            start: event.start_date,
                            end: event.end_date
                        }
                    })
                });
            },
            error: function() {
                alert('There was an error fetching events!');
            }

        });

         // Handle create event form submission
        $('#create-event-form').submit(function(e) {
        e.preventDefault();
        const formData = $(this).serialize();
            $.ajax({
                url: 'http://127.0.0.1:8000/events',
                type: 'POST',
                data: formData,
                dataType: 'json',
                contentType: 'application/json',
                success: function() {
                alert('Event created successfully!');
                location.reload(); // Refresh the page to show the new event
                },
                error: function() {
                alert('There was an error creating the event!');
                }
            });

        });

    });

</script>
</html>















